@charset "utf-8";

@font-face {
	font-family: 'Poppins';
	src: url(../fonts/Poppins-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../fonts/Poppins-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url(../fonts/Poppins-Medium.ttf) format('truetype');
	font-weight: lighter;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
}

body, html {
	margin: 0;
	width: 100%;
	text-align: center;
	font-family: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 60px;
}

h2 {
	flex: initial;
	max-width: 50%;
	min-width: 270px;
	font-size: 22px;
	text-align: left;
	letter-spacing: 2px;
}

h3 {
	display: inline-block;
	margin: 25px;
	font-size:  18px;
	font-weight: lighter;
	letter-spacing: 5px;
	transition: .2s;
}

.active-nav {
	border-bottom: 3px solid red;
}

h4 {
	font-size: 28px;
	letter-spacing: 5px;
}

h5 {
	font-size: 50px;
	font-weight: normal;
}

h6 {
	font-weight: normal;
	font-size: 24px;
}

p {
	padding: 25px 0px;
	text-align: left;
	font-size: 18px;
	font-weight: lighter;
	letter-spacing: 2px;
}

hr {
	flex: auto;
	display: block;
    height: 3px;
	margin: auto 0 auto 20px;
    border: 0;
    border-top: 3px solid #ccc;
}

.button {
	border: 3px solid red;
	border-radius: 25px;
	color: red;
	font-size: 24px;
	letter-spacing: 3px;
	padding: 10px 20px;
	text-decoration: none;
	transition: .2s;
}

.button:hover{
	color: white;
	background-color: red;
}

.page {
	min-height: 400px;
	width: 100%;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-head {
	width: 100%;
	display: inline-flex;
}

.subcontainer {
	padding: 50px 60px;
	display: inline-block;
	margin: 0 auto;
	width: 50%;
}

.faq {
	column-count: 2;
	align-content: center;
	width: 100%;
	padding: 10px 0;
}

.faqcontainer {
	padding: 10px 40px;
	display: inline-block;
}

.faq-line {
	width: 45%;
}

.timeline-line {
	margin: 50px 0 auto 0;
	flex: initial;
	width: 10%;
    border-top: 3px solid red;
}

.timeline-box {
	display: block;
	width: 200px;
	margin: 0 auto;
	align-content: center;
}

.faq-block {
	display: flex;
	align-content: center;
	justify-content: center;
}

.active {
	box-shadow: lightgrey 0px 3px 5px;
}

.homecontainer {
	width: 460px;
}

/*Added by Mark for schedule*/
.schedule {
	text-align: left;
	margin: auto;
	font-size: 18px;
	letter-spacing: 1px;
	width: 450px;
}

.schedule-day {
	font-size: 25px;
	letter-spacing: 5px;
	padding: 10px;
	padding-left: 0px;
	padding-top: 30px;
	text-align: center;
	font-weight: 600;
}

.time {
	font-weight: 600;
	padding-top: 10px;
}

.time2 {
	font-weight: 600;
	padding-top: 10px;
	padding-left: 10px;
}

.event {
	padding-left: 30px;
	padding-top: 10px;
	width: 375px;
}

#navbar {
	z-index: 2;
	width: 100%;
	height: 80px;
	position: fixed;
	text-align: center;
	background: white;
	transition: .5s;
}

#navbar a{
	color: black;
	text-decoration: none;
}

#home {
	background-image: url(../img/greyscale_image2.jpg);
	background-repeat: no-repeat;
	background-position: left top 160px;
	background-size: 25%;
	padding-top: 80px;
}

#about {
	width: 75%;
	margin: 0 auto;
	padding: 60px 0;
}

#schedule {
	text-align: center;
	background-image: url("../img/hacks-people.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
}

#timeline {
	width: 100%;
	display: flex;
	align-content: center;
	text-align: center;
	padding-top: 50px;
}

#faq {
	padding: 150px 0;
	width: 70%;
	margin: 0 auto;
}

#more-faq {
	display: none;
}

#expand {
	color: red; 
	font-size: 22px; 
	padding: 0 20px; 
	cursor: pointer;
}

#sponsors {
	min-height: 800px;
	margin: 0 auto;
}

#sponsors a{
	color: red;
}

#sponsors h6{
	font-size: 26px;
}

#footer {
	background: white;
	border: thin gray;
	min-height: 70px;
	font-size: 24px;
}

#footer a {
	color: #BCBCBC;
	padding: 10px;
	text-decoration: none;
}

.sponsor-container {
	display: flex;
	align-content: center;
	justify-content: center;
}

.sponsor-container img {
	flex-shrink: 1;
	max-height: 80px;
	max-width: 225px;
}

.sponsor-container a{
	margin: auto 0;
	padding: 30px;
}

#sponsor-container-2 {
	display:inline-flex;
	padding: 80px;
	width: 50%;
}



@media (max-width: 1152px) {
	svg {
		display: none;
	}
	.svg{
		display: none;
	}
	#home img {
		max-width: 500px;
		width: 100%;
	}
	h2 {
		max-width: 100%;
	}
	#sponsors {
		display: inline;
	}
	.sponsor-container {
		display: block;
	}
	#sponsors h6 {
		font-size: 20px;
	}
	.sponsor-container img{
		padding: 20px;
		max-width: 200px;
	} 
	
	#sponsor-container-2 {
		padding: 50px;
		width: 80%;
	}
	#sponsor-container-2 img{
		display: none;
	}
}
@media (max-width: 768px) and (orientation: portrait)  {
	h1 {
		font-size: 16px;
		padding: 20px 0;
	}
	
	h2 {
		font-size: 18px;
		min-width: 0;
	}
	h4{
		font-size: 22px;
	}
	
	p {
		font-size: 16px;
	}
	#navbar {
		display: none;
	}
	#home {
		background-image: none;
	}
	#about {
		width: 90%;
	}
	#faq {
		width: 90%;
	}
	#timeline h5{
		font-size: 30px;
	}
	#timeline h6{
		font-size: 4vw;
	}
	#sponsors {
		width: 80vw;
	}
	#sponsors h6 {
		font-size: 16px;
	}
	#sponsor-container-2 {
		padding: 0px;
		width: 80%;
	}
	
	#footer {
		padding-top: 30px;
	}
	
	.button {
		font-size: 16px;
	}
	.faq {
		column-count: 1;	
	}
	
	.hide{
		display: none;
	}
	
	.subcontainer {
		padding: 50px 20px;
		width: 100%;
	}
	
	.faqcontainer {
		padding: 0px 20px;
		text-align: justify;
	}
	.homecontainer {
		width: 90%;
		text-align: left;
	}
}
